<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>new Product</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<style>
	
	body {background-color: #CCE5FF;}
	
	</style>
 
</head>
<body >
    <div align="center"><br /><br />
    <div class="container p-3 my-3 bg-secondary text-white">
	  <h1>Create New Product</h1>
	</div>
    <br /><br />
        
<div class="row" >
	 <div class="col-sm-4">
	   </div>
	<div class="col-sm-4">  
        <form action="#" th:action="@{/save}" th:object="${product}" method="post"><br />
            <table class="table">
                <tr class="info" >
                    <td>Product Name:</td>
                    <td><input type="text" th:field="*{name}" /></td>
                </tr>
                <tr  class="info" >
                    <td>Brand:</td>
                    <td><input type="text" th:field="*{brand}" /></td>
                </tr   >
                <tr class="info" >
                    <td>Made In:</td>
                    <td><input type="text" th:field="*{madein}" /></td>
                </tr>
                <tr class="info"  >
                    <td>Price:</td>
                    <td><input type="text" th:field="*{price}" /></td>
                </tr>                            
                <tr class="info"  >
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
	 </div>
	 <div class="col-sm-4">
	   </div>
</div>
        
    </div>
</body>
</html>